.env
# Environment
backend/.env
.env
*.env

# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/knowledge_base/faiss.index
venv/
__pycache__/
.pytest_cache/

# Google Drive credentials
backend/credentials.json
backend/token.json

# Local uploads and extracted text cache
data/uploads/
backend/data/uploads/

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db

#vscode
.vscode/
.vscode/*

#aider
.aider/
.aider/*
